<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AvoqadoPOS"
        tools:targetApi="31">
        <activity
            android:name=".views.ErrorActivity"
            android:exported="false" />
        <activity
            android:name=".views.SendTicketActivity"
            android:exported="false" />
        <activity
            android:name=".views.InputMailActivity"
            android:exported="false" />
        <activity
            android:name=".views.SuccessRefundActivity"
            android:exported="false" />
        <activity
            android:name=".views.DeclineRefundActivity"
            android:exported="false" />
        <activity
            android:name=".views.DoRefundActivity"
            android:exported="false" />
        <activity
            android:name=".views.ListTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".views.GetTransactionsActivity"
            android:exported="false" />
        <activity
            android:name=".views.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".views.InstallmentsActivity"
            android:exported="false" />
        <activity
            android:name=".views.DoPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".views.CardRulesValidationActivity"
            android:exported="false" />
        <activity
            android:name=".views.CardErrorActivity"
            android:exported="false" />
        <activity
            android:name=".views.CardProcessActivity"
            android:exported="false" />
        <activity
            android:name=".views.SuccessMessageActivity"
            android:exported="false" />
        <activity
            android:name=".views.InitActivity"
            android:exported="false" />
        <activity
            android:name=".views.InputAmountActivity"
            android:exported="false" />
        <activity
            android:name=".views.SuccessPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".views.DeclinedPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AvoqadoPOS">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>