<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" 
                    android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
<uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".AvoqadoApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AvoqadoPOS"
        tools:targetApi="31">
        <!-- Socket.IO service for managing connections -->
        <service
            android:name=".core.data.network.SocketService"
            android:enabled="true"
            android:exported="false" />
        <activity
            android:name=".views.ProductsActivity"
            android:exported="false"
            android:theme="@style/Theme.AvoqadoPOS" />
        <activity
            android:name=".views.ErrorActivity"
            android:exported="false" />
        <activity
            android:name=".views.SendTicketActivity"
            android:exported="false" />
        <activity
            android:name=".views.InputMailActivity"
            android:exported="false" />
        <activity
            android:name=".views.SuccessRefundActivity"
            android:exported="false" />
        <activity
            android:name=".views.DeclineRefundActivity"
            android:exported="false" />
        <activity
            android:name=".views.DoRefundActivity"
            android:exported="false" />
        <activity
            android:name=".views.ListTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".views.GetTransactionsActivity"
            android:exported="false" />
        <activity
            android:name=".views.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".views.InstallmentsActivity"
            android:exported="false" />
        <activity
            android:name=".views.DoPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".views.CardRulesValidationActivity"
            android:exported="false" />
        <activity
            android:name=".views.CardErrorActivity"
            android:exported="false" />
        <activity
            android:name=".views.CardProcessActivity"
            android:exported="true" />
        <activity
            android:name=".views.SuccessMessageActivity"
            android:exported="false" />
        <activity
            android:name=".views.InitActivity"
            android:exported="true"/>
        <activity
            android:name=".views.InputAmountActivity"
            android:exported="true" />
        <activity
            android:name=".views.SuccessPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".views.DeclinedPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AvoqadoPOS">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="login.ui"
                    android:path="/unauthorized"
                    android:scheme="menta" />
            </intent-filter>
        </activity>
    </application>

</manifest>